/*
 * Styles for compare-layouts
 *
 * (c) Uwe Gerdes, entwicklung@uwegerdes.de
 */
body {
  background-color: #FFFFFF;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  margin: 0;
  padding: 0;
  border: 0;
}
p,
li,
td,
th,
dt,
dd {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}
p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
h1 {
  font-size: 1.8em;
  margin-top: 1.0em;
  margin-bottom: 1.0em;
  font-weight: bold;
  color: #000099;
}
h2 {
  font-size: 1.6em;
  margin-top: 1.0em;
  margin-bottom: 0.8em;
  font-weight: bold;
  color: #000099;
}
h3 {
  font-size: 1.4em;
  margin-top: 0.8em;
  margin-bottom: 0.5em;
  font-weight: bold;
  color: #000099;
}
h4 {
  font-size: 1.2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
  color: #000099;
}
h5 {
  font-size: 1.0em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
  color: #000099;
}
ul {
  margin-top: 0;
  margin-bottom: 1em;
}
ol {
  margin-top: 0;
  margin-bottom: 1em;
}
table {
  margin: 0.5em 0 0.8em 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  text-align: left;
  font-weight: bold;
  vertical-align: top;
  margin: 0;
  padding: 0;
}
td {
  text-align: left;
  vertical-align: top;
  margin: 0;
  padding: 0;
}
input {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: underline;
}
em {
  font-weight: bold;
  color: #000099;
  text-decoration: none;
}
strong,
b {
  font-weight: bold;
}
img {
  border: 0;
}
hr {
  clear: both;
  margin: 1em 0 1em 0;
  width: 100%;
  color: #cccccc;
  background-color: #cccccc;
  height: 1px;
}
div {
  margin: 0;
  padding: 0;
}
.clear {
  clear: both;
}
#container {
  width: 800px;
  margin: 0 auto;
}
/* special element styling for documentation */
.command {
  background-color: #666666;
  white-space: pre;
  font-family: 'Courier New', Courier, monospace;
  color: #ffffff;
  padding: 3px;
  font-weight: bold;
}
span.command {
  padding: 0px 3px;
}
.console {
  background-color: #333333;
  white-space: pre;
  font-family: 'Courier New', Courier, monospace;
  color: #ffff99;
  padding: 3px;
  font-weight: bold;
}
span.console {
  padding: 0px 3px;
}
.editor {
  background-color: #ffffcc;
  white-space: pre;
  border: 1px solid grey;
  padding: 3px;
  max-height: 300px;
  overflow: auto;
}
span.editor {
  padding: 0px 3px;
}
.code {
  background-color: #ffffcc;
  white-space: pre;
  font-family: 'Courier New', Courier, monospace;
  padding: 3px;
}
span.code {
  padding: 0px 3px;
}
.hinweis {
  background-color: #cccccc;
  border: 1px solid grey;
  padding: 3px;
}
span.hinweis {
  padding: 0px 3px;
}
.filename {
  background-color: #ffffcc;
}
.apt {
  background-color: #ffffcc;
  font-weight: bold;
}
#app #container {
  min-width: 1000px;
  width: 80%;
  max-width: 1400px;
  margin: 0 auto 30px auto;
  clear: both;
}
#app #container .head:after {
  content: "";
  clear: both;
  display: block;
}
#app #container .head > h1:first-child {
  margin-top: 0;
}
#app #container #configs {
  padding-top: 15px;
  clear: both;
}
#app #container #list {
  width: 30%;
  float: left;
}
#app #container #list h1 {
  margin-top: 0;
  padding-left: 1px;
}
#app #container #list #configs {
  padding: 15px 0;
}
#app #container #list #configs li {
  list-style: none;
  padding-left: 1px;
}
#app #container #list #configs li div.name {
  float: left;
  width: 50%;
  overflow: hidden;
  margin-right: 8px;
  height: 2em;
  font-size: 1.5em;
}
#app #container #list #configs li div.name a {
  display: block;
  text-decoration: none;
}
#app #container #list #configs li.failed {
  color: #cc0000;
}
#app #container #item {
  width: 70%;
  float: left;
}
#app #container #item #result {
  clear: both;
}
#app #container #item #started {
  display: none;
}
#app #container #item .running #started {
  display: inline;
}
#app #container #item #start {
  display: inline;
}
#app #container #item .running #start {
  display: none;
}
#app #container #item #response {
  display: block;
}
#app.runall #item .head,
#app.runall #item #result,
#app.runall #item #configFile,
#app.runall #item #configData {
  display: none;
}
#app #error h2 {
  color: #cc0000;
}
#app #footer {
  height: 30px;
}
body > #result {
  min-width: 1000px;
  width: 80%;
  max-width: 1400px;
  margin: 0 auto 30px auto;
  clear: both;
}
table#configs {
  min-width: 400px;
}
table#configs th {
  font-size: 1.2em;
  padding: 5px 0;
}
table#configs td {
  font-size: 1.2em;
  padding: 3px 10px 3px 0;
  color: green;
}
table#configs .failed td {
  color: red;
}
table.results {
  min-width: 400px;
}
table.results th {
  font-size: 1.2em;
  padding: 5px 0;
}
table.results td {
  padding: 3px 10px 3px 0;
}
.buttonContainer {
  float: left;
}
.button {
  text-decoration: none;
  display: block;
  float: left;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 5px 10px;
  color: #000000;
  font-size: 1.5em;
  font-weight: bold;
  margin-right: 25px;
  background-color: #ffbb00;
}
.running #started {
  display: inline-block;
  border: 1px solid transparent;
  padding: 5px 0;
  font-size: 1.5em;
  font-weight: bold;
  margin-right: 20px;
}
#response {
  background-color: #eeeeee;
  white-space: pre;
  border: 1px solid grey;
  padding: 3px;
  margin: 5px 0 10px 0;
  max-height: 400px;
  overflow: auto;
  line-height: 1.4em;
}
form.params {
  float: left;
  padding-top: 7px;
  padding-right: 30px;
}
form.params input[type="checkbox"] {
  cursor: pointer;
  width: 18px;
  height: 18px;
  float: left;
}
form.params label.checkbox {
  cursor: pointer;
  font-size: 1.5em;
  display: block;
  float: left;
}
.running form.params {
  display: none;
}
#show #started {
  display: none;
}
#show .running #started {
  display: inline;
}
#show #start {
  display: inline;
}
#show .running #start {
  display: none;
}
#show #response {
  display: block;
}
#list #reload {
  display: inline;
}
#list .running #reload {
  display: inline;
}
#list #runAll {
  display: inline;
}
#list .running #runAll {
  display: none;
}
#list #configs {
  display: block;
}
#list .running #configs {
  display: none;
}
.compare1 {
  color: blue;
}
.compare2 {
  color: green;
}
.success {
  color: #00BB00;
}
.fail {
  color: #DD0000;
}
a {
  color: inherit;
}
img {
  border: 1px dotted #808080;
}
img:hover {
  border-color: #ffffff;
}
ol {
  clear: both;
  list-style-type: disc;
}
li {
  clear: both;
}
dl {
  clear: both;
  width: auto;
  margin: 0px;
  padding: 3px 0 3px 5px;
}
dt {
  clear: both;
  float: left;
  width: 280;
  height: 20px;
}
dd {
  float: none;
  margin: 0px;
  min-height: 20px;
}
.styleTree dd.style {
  height: 20px;
  width: 0px;
  padding-left: 20px;
  margin-left: 40px;
  background-color: green;
  overflow: hidden;
}
.styleTree dd.style:hover {
  height: auto;
  width: auto;
  padding-left: 0px;
  background-color: transparent;
  overflow: visible;
}
.compareResult ol {
  list-style-type: none;
}
.compareResult li dl:hover {
  background-color: #ccccff;
}
.compareResult dd.styleDiff ol {
  list-style-type: none;
}
.compareResult ol dd {
  min-height: 0px;
}
.compareResult ol dt,
.compareResult ol dd.textContent1,
.compareResult ol dd.tagName2,
.compareResult ol dd.elementId2,
.compareResult ol dd.cssclass2,
.compareResult ol dd.type2,
.compareResult ol dd.name2,
.compareResult ol dd.value2,
.compareResult ol dd.textContent2 {
  display: none;
}
.compareResult ol dd.tagName1,
.compareResult ol dd.elementId1,
.compareResult ol dd.cssclass1,
.compareResult ol dd.type1,
.compareResult ol dd.name1,
.compareResult ol dd.value1 {
  width: auto;
  float: left;
  font-weight: bold;
}
.compareResult ol dd.tagName1 span {
  display: inline-block;
  margin: 0 0 0 -5px;
}
.compareResult ol dd.elementId1 span,
.compareResult ol dd.cssclass1 span,
.compareResult ol dd.type1 span,
.compareResult ol dd.name1 span,
.compareResult ol dd.value1 span {
  display: inline-block;
}
.compareResult ol dd.elementId1:empty,
.compareResult ol dd.cssclass1:empty,
.compareResult ol dd.type1:empty,
.compareResult ol dd.name1:empty,
.compareResult ol dd.value1:empty {
  display: none;
}
.compareResult ol dd.tagName1:before {
  content: '<';
}
.compareResult ol dd.elementId1 span:before {
  content: 'id="';
  margin-left: 5px;
}
.compareResult ol dd.elementId1 span:after {
  content: '"';
}
.compareResult ol dd.cssclass1 span:before {
  content: 'class="';
  margin-left: 5px;
}
.compareResult ol dd.cssclass1 span:after {
  content: '"';
}
.compareResult ol dd.type1 span:before {
  content: 'type="';
  margin-left: 5px;
}
.compareResult ol dd.type1 span:after {
  content: '"';
}
.compareResult ol dd.name1 span:before {
  content: 'name="';
  margin-left: 5px;
}
.compareResult ol dd.name1 span:after {
  content: '"';
}
.compareResult ol dd.value1 span:before {
  content: 'value="';
  margin-left: 5px;
}
.compareResult ol dd.value1 span:after {
  content: '">';
}
.compareResult ol dd.elementId1 span:empty:before,
.compareResult ol dd.elementId1 span:empty:after,
.compareResult ol dd.cssclass1 span:empty:before,
.compareResult ol dd.cssclass1 span:empty:after,
.compareResult ol dd.type1 span:empty:before,
.compareResult ol dd.type1 span:empty:after,
.compareResult ol dd.name1 span:empty:before,
.compareResult ol dd.name1 span:empty:after,
.compareResult ol dd.value1 span:empty:before {
  content: '';
  margin: 0;
}
.compareResult ol dd.value1 span:empty:after {
  content: '>';
}
.compareResult ol dd.ownTextContent,
.compareResult ol dd.errorList {
  width: auto;
  float: none;
  clear: both;
}
.compareResult ol dd.errorList {
  color: red;
}
.compareResult ol dd.error {
  display: none;
  width: auto;
  color: #cc0000;
}
.compareResult dd.styleDiff ol li dl:hover {
  background-color: #dddddd;
}
.compareResult dd.styleDiff ol dd {
  position: relative;
}
.compareResult dd.styleDiff ol dd.property {
  width: 20%;
  float: left;
}
.compareResult dd.styleDiff ol dd.style1,
.compareResult dd.styleDiff ol dd.style2 {
  width: 40%;
  float: left;
}
.compareResult dd.styleDiff ol dd.style1:before {
  content: '';
}
.compareResult dd.styleDiff ol dd.style1:after {
  content: '';
}
.compareResult dd.styleDiff ol dl:after,
.compareResult dd.styleDiff ol dd.style2:after {
  content: '';
  clear: both;
  display: table;
}
